<%- include('partials/header'); -%>

<header>
  <div class="video">
    <img src="/video.png" alt="">
  </div>
  <div class="headings">
    <h2>Teams</h2>
    <h3>By Microsoft</h3>
    <a href="/video" class="btn">Video Call</a>
  </div>
</header>


</body>
</html>
